.trigger-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;

    padding: 10px 20px;
    background: #171717;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
}

.trigger-btn:hover {
    background: #333;
}
